<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1> shooter mcgavin!!!! </h1>
    <p>I'm better than shooter mcgavin</p>
    <p>This is JT's first edit</p>
    <p>again</p>
  </body>
</html>
